nav {
  display: flex;
  padding: 2rem 25rem 0 25rem;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(24, 24, 24);
  left: 0px;
  top: 0;
  height: 6rem;
  width: 100%;
  align-items: center;
}

nav,
a {
  color: var(--heading-color);
  text-decoration: none;
  font-size: 22px;
  transition: 0.2s;
}

nav,
a:hover {
  color: white;
}
